*.log
*.csv
*.out
*.png
*.svg
*.gz
*.pkl
.vscode

#忽略所有 __pycache__ 目录及其内容
**/__pycache__/
spark-warehouse/

#例外文件
!houseinfo/proxies.csv
!usstockinfo/industry_yfinance.csv
!usstockinfo/industry_yfinance_mapping.csv
!usstockinfo/industry.csv
!usstockinfo/fixed_list.csv
!cnstockinfo/industry.csv
!dashreport/assets/cartoon.png
!dashreport/assets/cartoon1.png
!dashreport/assets/background-logo.png