*.log
*.csv
*.out
*.png
*.svg
*.gz
.vscode

#忽略所有 __pycache__ 目录及其内容
**/__pycache__/
spark-warehouse/

#例外文件
!houseinfo/proxies.csv
!usstockinfo/industry_yfinance.csv
!usstockinfo/industry_yfinance_mapping.csv
!usstockinfo/industry.csv
!cnstockinfo/industry.csv
!dashreport/assets/background.jpeg
!dashreport/assets/buyahouse-background-logo.png