*.log
*.csv
*.out
*.png
*.svg
*.gz
*.pkl
.vscode
*.md
*.txt

#忽略所有 __pycache__ 目录及其内容
**/__pycache__/
spark-warehouse/
check_logs.sh*


#例外文件 - 配置文件
!houseinfo/proxies.csv
!usstockinfo/industry_yfinance.csv
!usstockinfo/industry_yfinance_mapping.csv
!usstockinfo/industry.csv
!usstockinfo/fixed_list.csv
!cnstockinfo/industry.csv
!dashreport/assets/cartoon.png
!dashreport/assets/cartoon1.png
!dashreport/assets/background-logo.png

#例外文件 - 特殊txt文件
!requirements.txt
!readme.txt
!china_proxies.txt
!overseas_proxies.txt
!utility/backup_proxy.txt
!utility/proxy.txt