akshare>=1.16.98
backtrader>=1.9.78.123
dash>=3.0.4
dash_core_components>=2.0.0
dash_html_components>=2.0.0
dash_table>=5.0.0
Flask>=3.1.1
Flask_Compress>=1.17
geopandas>=1.0.1
lxml>=5.3.1
matplotlib>=3.10.3
matplotlib_inline>=0.1.7
numpy>=2.3.0
pandas>=2.3.0
plotly>=6.0.1
progressbar33>=2.4
pyfolio_reloaded>=0.9.8
pyspark>=3.5.3
Requests>=2.32.4
seaborn>=0.13.2
tenacity>=9.0.0
tqdm>=4.66.5
waitress>=3.0.1
yfinance>=0.2.54
