:root {
  /* table浅色样式 */
  --data-bar-color: rgb(125, 207, 255);
  --date-bg-color: rgba(255, 127, 80, 0.73);
  --negative-value-bg-color: #3d9970d4;
  --positive-value-bg-color: #ff4036c7;

  /* 浅色通用样式 */
  --background-color: #f6f8f9;
  --text-color: #333;
  --login-box-shadow-color: rgb(0 0 0 / 20%);
  --subtitle-color: #000000;
  --a-visited-color: #000000;
  --learn-more-button-color: #000000;
  --dash-table-border-color: lightgrey;
  --main-title-color: #FF4136;
  --full-view-link-bg-color: #FF4136;
  --border-left-color: #FF4136;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* table深色样式 */
    --data-bar-color: #0074d973;
    --date-bg-color: #ff7f50ba;
    --negative-value-bg-color: #3d997096;
    --positive-value-bg-color: #ff413696;

    /* 深色通用样式 */
    --background-color: #171b26;
    --text-color: #ffffffc5;
    --login-box-shadow-color: #607D8B;
    --subtitle-color: #ffffffc5;
    --a-visited-color: #ffffffc5;
    --learn-more-button-color: #9fa6b7;
    --dash-table-border-color: rgba(255, 255, 255, 0.3);
    --main-title-color: #ffffffc5;
    --full-view-link-bg-color: #ff413699;
    --border-left-color: #ff413699;
  }

}


/* 默认显示浅色主题 */
.svg-light { display: block; }
.svg-dark { display: none; }

/* 深色模式时切换 */
@media (prefers-color-scheme: dark) {
    .svg-light { display: none ;}
    .svg-dark { display: block !important;}
}

/* 保持响应式布局 */
.chart-container {
    width: 100%;
    margin: 0 auto;
}
.responsive-svg {
    width: 100%;
    height: auto;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  /* light mode */
  /* 不需要指定背景色和字体颜色 */
  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 1.3rem;
  line-height: 1.0;
  /* font-weight: 500; */
  /* font-family: inherit; */
  /* font-family: "Helvetica Neue"; */
  font-family: -apple-system !important;
  /* 使用苹果系统的默认字体 */
  letter-spacing: -.03rem;
  /* 字母间距微调 */
  -webkit-font-smoothing: antialiased !important;
  /* 在Webkit浏览器中启用字体抗锯齿 */
  text-rendering: optimizeLegibility;

}

.loading-dot {
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 将元素的中心对齐到视口的中心 */

}

.fig_custom {
  width: 100%;
  /* 假设容器宽度占满其父元素 */
  padding-top: 70%;
  /* 9 / 16 = 0.5625，转换为百分比 */
  position: relative;
  /* 通常需要设置为relative，以便子元素可以绝对定位 */
  overflow: auto;
  /* 防止内容溢出容器 */

}

.fig_custom>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 子元素填充整个容器 */
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  position: relative;
  width: 260mm;
  min-height: 300mm;
  padding: 0mm;
  margin: 2mm auto;
  /* background: rgb(255, 255, 255); */
  /* background-color: rgb(255, 255, 255); */
  border-radius: 5px;
  /* light mode */
  /* box-shadow: 0 0 10px lightgrey; */

}

.pagetwo {
  position: relative;
  width: 210mm;
  min-height: 240mm;
  padding: 0mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  /* background: rgb(255, 255, 255); */
}

.sub_page {
  padding: 0.2cm;
  min-height: 300mm;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  border-radius: 10px;
  /* light mode */
  box-shadow: 0 0 5px var(--login-box-shadow-color);

  /* filter: drop-shadow(2px 2px 2px var(--login-box-shadow-color)) brightness(110%) contrast(105%) saturate(105%); */
  text-align: center;
}


.input-box {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 0px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  filter: brightness(120%) contrast(105%) saturate(105%);
}

.login-button:hover {
  background-color: #0056b3;
}

.background {
  background-image: url('/assets/buyahouse-background-logo.png');
  /* background-image: url('/assets/background.jpeg'); */
  background-position: bottom;
  background-position-x: 50%;
  background-position-y: 85%;
  background-size: 20%;
  background-repeat: no-repeat;
  /* 防止图片重复 */
  height: 70vb;
  display: flex;
  justify-content: center;
  align-items: center;
  /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(110%) contrast(105%) saturate(105%); */
}

.background-header {
  background-image: url('/assets/buyahouse-background-logo.png'); /* 设置背景图片 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  background-position: left top; /* 将背景图片定位到左上角 */
  background-size: contain; /* 确保图片按比例缩放，不会被拉伸 */
  height: 40px; /* 设置背景容器的高度，根据图片大小调整 */
  filter: contrast(200%); /* 增加对比度 */
  margin-top: 20px;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
}

p {
  margin-bottom: 0rem;
}

.iframe {
  border: none;
}

h6.padded,
p.padded {
  padding: 2px 5px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.blue-text {
  color: #8496b8;
}

table {
  width: 100%;
  font-size: 1.3rem;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: 0px solid #050505;
  /* filter: brightness(110%); */
  /* filter:
    contrast(105%) saturate(110%); */
}

img {
  /* filter: brightness(110%) contrast(120%) saturate(120%); */
  filter: contrast(120%) saturate(120%);
}

.firstimg {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.dash-spreadsheet-container {
  line-height: 1.0 !important;

}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner * {
  background: none;
  --hover: #d3d3d382;
  border-width: 0.7px !important;
  border-color: var(--dash-table-border-color) !important;
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#idAssignedToDataTable .dash-filter input:not([type=radio]):not([type=checkbox]) {
  color: #007eff;
  text-align: left;
  line-height: 0%;
  height: 100%;
  margin-left: -6px;
  /* margin-bottom: -10px; */
  padding: 0;
  font-size: 0.9rem;

}

#idAssignedToDataTable .dash-spreadsheet-container .dash-spreadsheet-inner .column-header-name {
  font-weight: normal;
  /* color: #2d4fdc; */
  /* color: #0e0e0e; */
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dash-table-container .dash-spreadsheet-container th {
  /* background-color: #19537057 !important */
  /* background-color: #FFFAE6 !important */
  /* background-color: #105469 !important; */
  background-color: #b1d1f14f !important;

}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th.dash-filter {
  background: none !important;
}

/* 表头列名样式同步 */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='NAME'],
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='IND'] {
  white-space: normal !important;
  min-width: 8vw;
}

.cn_table .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='NAME'],
.cn_table .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='IND'] {
  white-space: normal !important;
  min-width: 6vw;
}

td {
  padding: 0px 0px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:nth-child(odd) {
  background-color: #fafafa;
}

table.reversed tr:nth-child(odd) {
  background-color: #f0f0f0;
}

table.reversed tr:nth-child(even) {
  background-color: #f0f0f0;
}

td,
th {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;

}

table.tiny-header tr:first-child {
  font-size: 8px;
}

.columns {
  margin-left: 0 !important;
}

.row>.columns:not(:first-child) {
  padding-left: 0px;
}

h1,
h5,
h6 {
  margin: 0;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.4rem;
}

.risk-reward {
  height: 150px;
  width: auto;
}

li {
  /* color: #0f0101ed; */
  list-style: square;
  padding-left: 0;
  font-size: 1.2rem;
}

.product {
  position: relative;
  height: 15%;
  padding: 10px;
  margin-bottom: 5px;
  /* background: #FF4136; */
  /*#8b0202*/
  /* color: #ffffff; */
  /* background: linear-gradient(to right, #ffffff, transparent); */
  color: #FF4136;
  border-radius: 2px;
  box-shadow: 0 0 2px lightgrey;
  font-size: 1.5rem;
  filter: contrast(105%) saturate(105%);
}

/* light mode */
.text_color {
  color: var(--text-color);
}

.number_color {
  color: #FF4136;
}

.full-view-link {
  background-color: var(--full-view-link-bg-color);
  color: white !important;
  font-size: 1.4rem;
  padding: 5px 5px;
  float: right;
  /* margin-left: 72%; */
  width: 15%;
  margin-right: 15px;
  text-align: center;
  transition-duration: 1s;
}

.all-tabs {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 40px;
}

.main-title {
  position: relative;
  color: var(--main-title-color);
  font-size: 1.5rem;
  /* font-weight: 800; */
  width: 80%;
  border-left: 0px solid var(--border-left-color);
  /*#8b0202*/
  /* background: #ffffff; */
  padding-left: 10px;
  margin-top: -10px;
}

.subtitle {
  position: relative;

  /* light mode */
  color: var(--subtitle-color);


  left: 0;
  height: 20%;
  margin: 0mm;
  border-left: 5px solid var(--border-left-color);
  /*#8b0202*/
  /* background: #ffffff; */
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 60px;
  text-transform: uppercase;
}



.logo {
  height: 30px;
  width: auto;
  box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(120%) contrast(105%) saturate(105%); */
  /* margin: 25px 25px; */
}

.company-logo {
  width: 30%;
  height: 20%;
  margin-left: 5px;
  margin-top: 20px;
  background-color: transparent;
  /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(120%) contrast(105%) saturate(105%); */
  box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);


}

a:link {
  color: var(--a-visited-color);
  /*#8b0202*/
  ;
  text-decoration: none;
}

/* visited link */
a:visited {

  /* light mode */
  color: var(--a-visited-color);


  text-decoration: none;
}



/* mouse over link */
a:hover {
  opacity: 0.6;
}

/* selected link */
a:active {
  color: lightgrey;
  text-decoration: underline;
}

.greyline {
  width: 90%;
  border-bottom: 1px solid lightgrey;
}

.tab {
  border-style: solid;
  border-color: #FF4136;
  /*#8b0202*/
  ;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  padding: 5px 10px;
  text-transform: uppercase;
}

.rowrow {
  margin: auto;
  text-align: center;
  width: 97%;
}

.rowrow2 {
  margin: auto;
  width: 97%;
}

.tablast {
  border-style: solid;
  border-color: #FF4136;
  /*#8b0202*/
  ;
  border-bottom-style: none;
  border-top-style: none;
  color: black;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#learn-more-button {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: none;
  margin: 5px 15px 10px 5px;
  border: 0.5px;
  border-color: lightgrey;
  border-style: solid;
  color: var(--learn-more-button-color);
}

@media only screen and (max-device-width: 1200px) {
  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

/* for screens smaller than 768px */
/* @media only screen and (max-width: 900px) { */
@media (max-width: 550px),
(max-device-width: 550px) {
  .background {
    background-image: url('/assets/buyahouse-background-logo.png');
    background-position: bottom;
    background-position-x: 50%;
    background-position-y: 95%;
    background-size: 80%;
    background-repeat: no-repeat;
    /* 防止图片重复 */
    height: 70vb;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(110%) contrast(105%) saturate(105%); */
  }

  .background-header {
    background-image: url('/assets/buyahouse-background-logo.png'); /* 设置背景图片 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    background-position: left top; /* 将背景图片定位到左上角 */
    background-size: contain; /* 确保图片按比例缩放，不会被拉伸 */
    height: 20px; /* 设置背景容器的高度，根据图片大小调整 */
    filter: contrast(200%); /* 增加对比度 */
    margin-top: 20px;
  }

  .product {
    position: relative;
    height: 15%;
    padding: 2px;
    margin-bottom: 5px;
    /* background: #FF4136; */
    /*#8b0202*/
    /* color: #ffffff; */
    color: #FF4136;
    border-radius: 2px;
    box-shadow: 0 0 2px lightgrey;
    font-size: 1.2rem;
    filter: contrast(105%) saturate(105%);
  }

  .company-logo {
    width: 30%;
    aspect-ratio: 9 / 1;
    /* height: 15%; */
    margin-left: 5px;
    margin-top: 20px;
    /* background-color: rgb(255, 255, 255);
     */
    /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(120%) contrast(105%) saturate(105%); */
  }

  .firstimg {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .table {
    width: 100%;
    font-size: 1rem;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    /* border: 0px solid #050505; */
    background-color: transparent;
    /* filter:
      contrast(105%) saturate(110%); */
  }

  .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='NAME'],
  .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='IND'] {
    /* 视口宽度的20% */
    min-width: 20vw;
    /* 防止过宽 */
  }

  .cn_table .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='NAME'],
  .cn_table .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td[data-dash-column='IND'] {

    min-width: 15vw;
  }

  .tab.first {
    display: inline-block;
    text-align: left;
    margin-top: 0px;
    /* padding: 5px 5px; */

  }

  .tab {
    display: inline-block;
    text-align: left;
    /* text-decoration: none; */
  }

  .all-tabs {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
  }

  .tablast {
    display: block;
    border-right-style: none;
  }

  .page {
    width: auto;
  }

  .sub_page {
    width: auto;
  }

  .risk-reward {
    height: 120px;
    width: auto;
  }

  .logo {
    height: 20px;
    width: auto;
  }

  #learn-more-button {
    float: right;
    line-height: 0;
    font-size: 0.7rem;
    height: 15px;
    /* margin: auto; */

    padding: 5px;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 13px;
    /* margin-bottom: 10px; */
    border: 0.5px;
    border-color: lightgrey;
    border-style: solid;

    /* padding: auto; */
    /* border: 0; */
    /* margin: 0px 0px 0px 0px; */
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  .main-title {
    /* width: 55%; */
    /* margin-top: 10px; */
    padding-left: 10px;
    border-left: 0px solid var(--border-left-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0px;
  }

  .five.columns {
    width: 45%;
  }

  .fees {
    width: auto;
  }

  .full-view-link {
    font-size: 0.8em;
    padding: 3px 3px;
    width: 15%;
    /* margin-left: 68%; */
    float: right;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 12px;
  }

  .row>.columns:not(:first-child) {
    padding: 0 0;
    margin-top: 5px;
  }

  /* .svg-container {
    width: 255px !important;
  } */

  /* .main-svg {
    width: 255px !important;
  } */

  .three.columns {
    text-align: left;
    padding: 0 10px;
    margin-bottom: 5px;
  }

  .nine.columns {
    padding: 0 20px !important;
  }

}


@media (max-width: 1200px) and (min-width: 550px),
(max-device-width: 1200px) and (min-device-width: 550px) {
  .background {
    background-image: url('/assets/buyahouse-background-logo.png');
    background-position: bottom;
    background-position-x: 50%;
    background-position-y: 95%;
    background-size: 80%;
    background-repeat: no-repeat;
    /* 防止图片重复 */
    height: 70vb;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(110%) contrast(105%) saturate(105%); */
  }

  .product {
    position: relative;
    height: 15%;
    padding: 2px;
    margin-bottom: 5px;
    /* background: #FF4136; */
    /*#8b0202*/
    /* color: #ffffff; */
    color: #FF4136;
    border-radius: 2px;
    box-shadow: 0 0 2px lightgrey;
    font-size: 1.4rem;
    filter: contrast(105%) saturate(105%);
  }

  .company-logo {
    width: 25%;
    aspect-ratio: 9 / 1;
    /* height: 15%; */
    margin-left: 5px;
    margin-top: 20px;
    /* background-color: rgb(255, 255, 255);
     */
    /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(120%) contrast(105%) saturate(105%); */
  }

  .table {
    width: 100%;
    font-size: 1.2rem;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    /* border: 0px solid #050505; */
    background-color: transparent;
    /* filter:
      contrast(105%) saturate(110%); */
  }

  .tab.first {
    display: inline-block;
    text-align: left;
    margin-top: 0px;
    /* padding: 5px 5px; */

  }

  .tab {
    display: inline-block;
    text-align: left;
    /* text-decoration: none; */
  }

  .all-tabs {
    text-align: center;
    margin-top: 30px;
    font-size: 1.4rem;
  }

  .tablast {
    display: block;
    border-right-style: none;
  }

  #learn-more-button {
    float: right;
    line-height: 0;
    font-size: 1rem;
    height: 25px;
    /* margin: auto; */

    padding: 5px;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 13px;
    /* margin-bottom: 10px; */
    border: 0.5px;
    border-color: lightgrey;
    border-style: solid;

    /* padding: auto; */
    /* border: 0; */
    /* margin: 0px 0px 0px 0px; */
  }

  h5 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.4rem;
  }

  .main-title {
    /* width: 55%; */
    /* margin-top: 10px; */
    padding-left: 10px;
    border-left: 0px solid var(--border-left-color);
    font-size: 1.4rem;
    font-weight: bold;
  }

  .five.columns {
    width: 45%;
  }

  .full-view-link {
    font-size: 1em;
    padding: 5px 5px;
    width: 15%;
    /* margin-left: 68%; */
    float: right;
    margin-top: -5px;
    margin-left: 0px;
    margin-right: 12px;
  }

}



/* @media only screen and (max-width: 400px) {
  .full-view-link {
    width: 15%;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 12px;
    float: right;
  }
}

@media only screen and (max-width: 350px) {
  .full-view-link {
    width: 40%;
    margin-left: 50%;
  }
} */