body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: url('./seeking.png');
  background-size: cover;
  background-position: center;
  margin: 0; */
  background-color: #f6f8f9;

  font-size: 1.2rem;
  line-height: 1.0;
  /* font-weight: 500; */
  /* font-family: inherit; */
  /* font-family: "Helvetica Neue"; */
  font-family: -apple-system;
  /* 使用苹果系统的默认字体 */
  letter-spacing: -.03rem;
  /* 字母间距微调 */
  -webkit-font-smoothing: antialiased !important;
  /* 在Webkit浏览器中启用字体抗锯齿 */
  text-rendering: optimizeLegibility;
  /* 优化文本可读性 */

  /* 使用系统字体 */
  /* color: #333; */
}

.dash-spreadsheet-container {
  line-height: 1.0 !important;

}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner * {
  background: none;
}

.loading-dot {
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 将元素的中心对齐到视口的中心 */

}

.fig_custom {
  width: 100%;
  /* 假设容器宽度占满其父元素 */
  padding-top: 70%;
  /* 9 / 16 = 0.5625，转换为百分比 */
  position: relative;
  /* 通常需要设置为relative，以便子元素可以绝对定位 */
  overflow: auto;
  /* 防止内容溢出容器 */

}

.fig_custom>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 子元素填充整个容器 */
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  position: relative;
  width: 240mm;
  min-height: 300mm;
  padding: 0mm;
  margin: 2mm auto;
  /* background: rgb(255, 255, 255); */
  /* background-color: rgb(255, 255, 255); */
  border-radius: 5px;
  box-shadow: 0 0 10px lightgrey;
}

.pagetwo {
  position: relative;
  width: 210mm;
  min-height: 240mm;
  padding: 0mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  /* background: rgb(255, 255, 255); */
}

.sub_page {
  padding: 0.2cm;
  min-height: 300mm;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 0px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  filter: brightness(120%) contrast(105%) saturate(105%);
}

.login-button:hover {
  background-color: #0056b3;
}

.background {
  background-image: url('/assets/buyahouse-background-transparent.png');
  /* background-image: url('/assets/background.jpeg'); */
  background-position: bottom;
  background-position-x: 48%;
  background-position-y: 85%;
  background-size: 20%;
  background-repeat: no-repeat;
  /* 防止图片重复 */
  height: 70vb;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(110%) contrast(105%) saturate(105%);
}


@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
}

p {
  margin-bottom: 0rem;
}

.iframe {
  border: none;
}

h6.padded,
p.padded {
  padding: 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blue-text {
  color: #8496b8;
}

table {
  width: 100%;
  font-size: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: 0px solid #050505;
  /* filter: brightness(110%); */
}

img {
  /* /* filter: brightness(120%) contrast(105%) saturate(105%) drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5)); */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(110%) contrast(105%) saturate(105%);
  /* transform: rotateX(5deg) rotateY(3deg) scale(1.05); */
  /* transition: transform 0.3s ease; */
}


#idAssignedToDataTable .dash-filter input:not([type=radio]):not([type=checkbox]) {
  color: rgb(11, 11, 11);
  text-align: left;
  line-height: 0%;
  height: 100%;
  margin-left: -5px;
  /* margin-bottom: -10px; */
  padding: 0;

}

#idAssignedToDataTable .dash-spreadsheet-container .dash-spreadsheet-inner .column-header-name {
  /* font-weight: normal; */
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td {
  padding: 0px 0px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:nth-child(odd) {
  background-color: #fafafa;
}

table.reversed tr:nth-child(odd) {
  background-color: #f0f0f0;
}

table.reversed tr:nth-child(even) {
  background-color: #f0f0f0;
}

td,
th {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;

}

table.tiny-header tr:first-child {
  font-size: 8px;
}

.columns {
  margin-left: 0 !important;
}

.row>.columns:not(:first-child) {
  padding-left: 0px;
}

h1,
h5,
h6 {
  margin: 0;
}

h5 {
  font-size: 2.6rem;
}

h6 {
  font-size: 1.425rem;
}

.risk-reward {
  height: 150px;
  width: auto;
}

li {
  color: #0f0101ed;
  list-style: square;
  padding-left: 0;
}

.product {
  position: relative;
  height: 15%;
  padding: 10px;
  margin-bottom: 5px;
  /* background: #FF4136; */
  /*#8b0202*/
  /* color: #ffffff; */
  /* background: linear-gradient(to right, #ffffff, transparent); */
  color: #FF4136;
  border-radius: 2px;
  box-shadow: 0 0 2px lightgrey;
  font-size: 1.5rem;
  filter: contrast(105%) saturate(105%);
}

.full-view-link {
  background-color: #FF4136;
  color: white !important;
  font-size: medium;
  padding: 10px 10px;
  float: left;
  margin-left: 72%;
  width: 35%;
  text-align: center;
  transition-duration: 1s;
}

.all-tabs {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;

}

.main-title {
  position: relative;
  color: #FF4136;
  font-size: 1.5rem;
  /* font-weight: 800; */
  width: 80%;
  border-left: 20px solid #FF4136;
  /*#8b0202*/
  /* background: #ffffff; */
  padding-left: 10px;
}

.subtitle {
  position: relative;
  color: #3a3a3a;
  left: 0;
  height: 20%;
  margin: 0mm;
  border-left: 5px solid #FF4136;
  /*#8b0202*/
  /* background: #ffffff; */
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 60px;
}

.logo {
  height: 30px;
  width: auto;
  box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(120%) contrast(105%) saturate(105%);
  /* margin: 25px 25px; */
}

.company-logo {
  width: 50%;
  height: 30%;
  margin-left: 2px;
  margin-top: 5px;
  background-color: transparent;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(120%) contrast(105%) saturate(105%);
  box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);


}

a:link {
  color: #8b0202;
  /*#8b0202*/
  ;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #696969;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  opacity: 0.6;
}

/* selected link */
a:active {
  color: lightgrey;
  text-decoration: underline;
}

.greyline {
  width: 90%;
  border-bottom: 1px solid lightgrey;
}

.tab {
  border-style: solid;
  border-color: #FF4136;
  /*#8b0202*/
  ;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  padding: 5px 10px;
}

.rowrow {
  margin: auto;
  text-align: center;
  width: 97%;
}

.rowrow2 {
  margin: auto;
  width: 97%;
}

.tablast {
  border-style: solid;
  border-color: #FF4136;
  /*#8b0202*/
  ;
  border-bottom-style: none;
  border-top-style: none;
  color: black;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#learn-more-button {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: none;
  margin: 25px 20px 0px 0px;
  border: 0.5px;
  border-color: lightgrey;
  border-style: solid;
}

/* for screens smaller than 768px */
@media only screen and (max-width: 550px) {

  .background {
    background-image: url('/assets/buyahouse-background-transparent.png');
    background-position: bottom;
    background-position-x: 20%;
    background-position-y: 95%;
    background-size: 80%;
    background-repeat: no-repeat;
    /* 防止图片重复 */
    height: 70vb;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(110%) contrast(105%) saturate(105%);
  }

  .product {
    position: relative;
    height: 15%;
    padding: 2px;
    margin-bottom: 5px;
    /* background: #FF4136; */
    /*#8b0202*/
    /* color: #ffffff; */
    color: #FF4136;
    border-radius: 2px;
    box-shadow: 0 0 2px lightgrey;
    font-size: 1.2rem;
    filter: contrast(105%) saturate(105%);
  }

  .company-logo {
    width: 50%;
    height: 30%;
    margin-left: 2px;
    margin-top: 5px;
    /* background-color: rgb(255, 255, 255);
     */
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3)) brightness(120%) contrast(105%) saturate(105%);
  }

  .table {
    width: 100%;
    font-size: 0.95rem;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0px solid #050505;
    background-color: transparent;
  }

  .tab.first {
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    /* padding: 5px 5px; */

  }

  .tab {
    display: inline-block;
    text-align: left;
    /* text-decoration: none; */
  }

  .all-tabs {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
  }

  .tablast {
    display: block;
    border-right-style: none;
  }

  .page {
    width: auto;
  }

  .sub_page {
    width: auto;
  }

  .risk-reward {
    height: 120px;
    width: auto;
  }

  .logo {
    height: 20px;
    width: auto;
  }

  #learn-more-button {
    float: right;
    line-height: 0;
    font-size: 8px;
    height: 25px;
    /* margin: auto; */

    padding: 1px;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 13px;
    margin-bottom: 10px;
    border: 0.5px;
    border-color: lightgrey;
    border-style: solid;

    /* padding: auto; */
    /* border: 0; */
    /* margin: 0px 0px 0px 0px; */
  }

  h5 {
    font-size: 1.5rem;
  }

  .main-title {
    width: 55%;
    margin-top: 10px;
    padding-left: 10px;
    border-left: 15px solid #FF4136;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .five.columns {
    width: 45%;
  }

  .fees {
    width: auto;
  }

  .full-view-link {
    font-size: small;
    padding: 6px 6px;
    width: 25%;
    margin-left: 68%;
    margin-top: 10px;
  }

  .row>.columns:not(:first-child) {
    padding: 0 0;
    margin-top: 5px;
  }

  /* .svg-container {
    width: 255px !important;
  } */

  /* .main-svg {
    width: 255px !important;
  } */

  .three.columns {
    text-align: left;
    padding: 0 10px;
    margin-bottom: 5px;
  }

  .nine.columns {
    padding: 0 20px !important;
  }

}

@media only screen and (max-width: 400px) {
  .full-view-link {
    width: 40%;
    margin-left: 52%;
  }
}

@media only screen and (max-width: 350px) {
  .full-view-link {
    width: 50%;
    margin-left: 50%;
  }
}